section.home-hero-img {
    position: relative;
    height: 100vh;
    background-image: url("../img/big-haloWC2018.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section.home-hero-img::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
}

.bg-img-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.home-hero-img__container {
    color: #ffffff;
    z-index: 1;
}
.home-hero-img__container > p.big-heading {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
}
.home-hero-img__container > p.small-caption {
    margin-top: 4px;
    margin-bottom: 32px;
    font-size: 1.2rem;
}

/* Signup Form */
#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}
#mc_embed_signup form {
    padding: 0;
}
#mc_embed_signup input[type="submit"] {
    margin: 0;
    padding: 6px 16px;
    color: #ffffff;
    border-color: #0F9ADB; 
    background-color: #0F9ADB;
    font-size: 1.2rem;
    transition: .2s ease-in-out;
}

/* Media queries */
@media screen and (min-width: 576px) {
    .home-hero-img__container > p.big-heading {
        font-size: 2.6rem;
    }
    .home-hero-img__container > p.small-caption {
        margin-top: 8px;
        font-size: 1.1rem;
        line-height: 1.2;
    }
    #mc_embed_signup input[type="submit"] {
        padding: 8px 24px;
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 768px) {
    .home-hero-img__container > p.big-heading {
        font-size: 3.6rem;
    }
    .home-hero-img__container > p.small-caption {
        margin-bottom: 40px;
        font-size: 1.6rem;
    }
    #mc_embed_signup input[type="submit"] {
        padding: 10px 26px;
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 992px) {
    .home-hero-img__container > p.big-heading {
        font-size: 4rem;
        animation: fadeInRight .6s ease-in-out;
    }
    .home-hero-img__container > p.small-caption {
        margin-bottom: 56px;
        font-size: 2rem;
        animation: appearToFront 1s ease-in-out;
    }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }
        80% {
            opacity: 0.65;
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes appearToFront {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    #mc_embed_signup input[type="submit"] {
        padding: 12px 28px;
        font-size: 1.5rem;
        animation: bottomToTop .6s ease-in-out;
    }
    #mc_embed_signup input[type="submit"]:hover {
        cursor: pointer;
        background-color: rgb(23, 143, 199);
    }
    @keyframes bottomToTop {
        0% {
            opacity: 0;
            transform: translateY(14px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
@media screen and (min-width: 1200px) {
    .home-hero-img__container > p.big-heading {
        font-size: 4.4rem;
    }
    .home-hero-img__container > p.small-caption {
        font-size: 2.4rem;
    }
    #mc_embed_signup input[type="submit"] {
        padding: 14px 30px;
        font-size: 1.6rem;
    }
}